In [1]:
import pandas as pd
import os

In [2]:
school_data_to_load = os.path.join("resources","schools_complete.csv")
students_data_to_load = os.path.join("resources","students_complete.csv")
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [3]:
school_data_df = pd.read_csv(school_data_to_load)
#school_data_df.head()

In [4]:
# Determine if there are any missing values in the school data.
#school_data_df.count()
#school_data_df.notnull()

In [5]:
#Read student data file and determine if there are any missing values
student_data_df = pd.read_csv(students_data_to_load)
#student_data_df.count()
#student_data_df.isnull().sum()

In [6]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
#student_data_df.head()

In [7]:
clean_students_data_to_load = os.path.join("resources","clean_students_complete.csv")
clean_students_data_df = pd.read_csv(clean_students_data_to_load)

In [8]:
def calculatepassingpercentage(passing_count,total_count):
    return (passing_count / float(total_count)*100)

In [9]:
complete_student_data_df = pd.merge(school_data_df,clean_students_data_df, on=["school_name","school_name"])
complete_student_data_df.head()

,School ID,school_name,type,size,budget,Unnamed: 0,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,3,Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,4,Bonnie Ray,F,9th,97,84

In [10]:
total_school_count = school_data_df.school_name.count()
print(total_school_count)

15

In [11]:
total_student_count = clean_students_data_df["Student ID"].count()
print_stmt = "total_student_count = {:,}"
print(print_stmt.format(total_student_count))

total_student_count = 39,170

In [12]:
total_budget = school_data_df["budget"].sum()
print(total_budget)

24649428

In [13]:
average_math_score = clean_students_data_df["math_score"].mean()
averrage_reading_score = clean_students_data_df["reading_score"].mean()
print(average_math_score)
print(averrage_reading_score)

78.98537145774827
81.87784018381414

In [14]:
passing_math_score = complete_student_data_df[complete_student_data_df["math_score"] >= 70]
passing_reading_score = complete_student_data_df[complete_student_data_df["reading_score"] >= 70]
overall_reading_score = complete_student_data_df[(complete_student_data_df["math_score"] >= 70)  & (complete_student_data_df["reading_score"] >= 70)]
#overall_reading_score.head(10)

In [15]:
passing_math_percentage = calculatepassingpercentage(passing_math_score["student_name"].count(),total_student_count)
passing_reading_percentage = calculatepassingpercentage(passing_reading_score["student_name"].count(),total_student_count)
passing_overall_percentage = calculatepassingpercentage(overall_reading_score["student_name"].count(),total_student_count)

In [16]:
district_summary_df = pd.DataFrame([{
    "Total Schools": total_school_count,
    "Total Students": ("{:,}".format(total_student_count)),
    "Total Budget": ("${:,.2f}".format(total_budget)),
    "Average Math Score": ("{:.1f}".format(average_math_score)),
    "Average Reading Score": ("{:.1f}".format(averrage_reading_score)),
    "% Passing Math": ("{:.0f}".format(passing_math_percentage)),
    "% Passing Reading": ("{:.0f}".format(passing_reading_percentage)),
    "% Overall Passing": ("{:.0f}".format(passing_overall_percentage)),
}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65